.activity {
    background: #2d224d;
}

.info {
    background: url('/static/images/bg-activity.jpg') center center no-repeat;
    background-size: cover;
    padding: 5.5vw;
}

.activity-event {
    height: 17rem;
    position: relative;
    z-index: 1000;
}

.activity-event::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to bottom, #000000 0%, #000000 10%, transparent 100%);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.activity-event::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.activity-event:hover::before {
    opacity: 0;
}

.activity-event:hover::after {
    opacity: 0.5;
}

.event-header {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.activity-event:hover .event-header {
    bottom: 5rem;
}

.activity-event-button {
    position: absolute;
    opacity: 0;
    left: 2rem;
    bottom: 2rem;
    transition: all .3s ease-in-out;
    transform: scale(0);
    z-index: 1;
}

.activity-event:hover .activity-event-button {
    opacity: 1;
    height: auto;
    transform: scale(1);
}

.activity-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 39.9375em) {
    .activity-event-button {
        opacity: 1;
        transform: scale(1);
    }

    .event-header {
        bottom: 5rem;
    }
}