.breadcrumbs {
    padding: 1vw 0;
}

.breadcrumbs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs-nav .nav-item {
    cursor: pointer;
}

.breadcrumbs-separate {
    padding: 1rem 0.25rem;
}

.breadcrumbs-nav .nav-item:last-child {
    cursor: auto;
    color: #9c9c9c;
}