.navigation {
    background-color: #000000;
}

.menu,
.menu-vertical,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    transition: all 0.4s ease-in-out;
}

.menu {
    justify-content: flex-end;
}

.vertical {
    flex-direction: column;
}

.menu .menu-item {
    display: inline-block;
    padding: 3rem 1rem;
}

.vertical .menu-item {
    padding: 0.5rem 0;
}

.submenu {
    margin: 0 -2rem;
    padding: 1rem 2rem;
    position: absolute;
    z-index: -1;
    top: 10rem;
    background: #2f2250;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.submenu-item {
    padding: 0.8rem 0;
}

.active {
    color: #a48eec;
}

.menu-item:hover .submenu {
    opacity: 1;
    z-index: 100;
    top: 7.7rem;
    visibility: visible;
}

.toggle-button {
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0;
    align-self: center;
    z-index: 100;
}

.visible {
    max-height: 20rem;
}
