.navigation {
    background: #000000;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.menu-item {
    padding: 2rem 1rem;
    white-space: nowrap;
}

.submenu {
    list-style: none;
    margin: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
    background: #2f2250;
    padding: 1rem 2rem;
    top: 10rem;
    opacity: 0;
    transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.2s ease-in-out;
}

.menu-item:hover .submenu {
    visibility: visible;
    top: 5.75rem;
    opacity: 1;
    z-index: 100;
}

.submenu-item {
    padding: 0.5rem 0;
}

.active {
    color: #a48eec;
}

.toggle-button {
    position: absolute;
    top: 2px;
    right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 39.9375em) {
    .menu {
        flex-direction: column;
    }

    .menu-item {
        padding: 0.5rem 0;
    }

    .submenu {
        display: none;
    }

    .hidden {
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
    }

    .visible {
        visibility: visible;
        max-height: 20rem;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .brand {
        text-align: center;
    }

    .menu {
        justify-content: space-between;
    }

    .menu-item {
        padding: 2rem 0;
    }
}