.promo {
    background: url('/static/images/bg-promo.jpg') center center no-repeat;
    background-size: cover;
}

.headers {
    margin-top: 28vw;
    margin-bottom: 12vw;
    padding-right: 3vw;
    border-right: 4px solid #a8a8aa;
}
