.scroller {
    position: fixed;
    bottom: 5rem;
    right: 2rem;
    z-index: 1000000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.scroller-link {
    background: #6047af;
    padding: 1rem 1.4rem;
    border-radius: 50%;
    cursor: pointer;
}

.scroller-link .icon {
    color: #ffffff;
}

.scroller.show {
    visibility: visible !important;
    opacity: 1;
}
