.map-container {
    max-width: 100%;
    height: 30rem;
    position: relative;
    padding: 0 10vw;
}

.map-container .spinner-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3rem;
    margin-left: -1.5rem;
}

.map-container .spinner-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: 2rem;
}
